section.team
    .container
        .team__inner
            .section-head.team__head
                h2.section-head__title Meet Talent <span> in Our Network</span>

            .team__content

                .team__tabs-wrapper
                    ul.nav.nav-tabs.team__tabs
                        li <a data-toggle="tab" href="#team-tab-designers" class="btn btn-primary-tab active">Designers</a>
                        li <a data-toggle="tab" href="#team-tab-developers" class="btn btn-primary-tab">Developers</a>
                        li <a data-toggle="tab" href="#team-tab-finance-experts" class="btn btn-primary-tab">Finance Experts</a>
                        li <a data-toggle="tab" href="#team-tab-project-managers" class="btn btn-primary-tab">Project Managers</a>

                .tab-content
                    .team__tab-content.tab-pane.fade.active.show#team-tab-designers

                        .swiper-container.team__slider
                            .swiper-wrapper.team__slider-wrapper

                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-1.jpg') )

                                            .human__head
                                                div
                                                    .human__name David Fish
                                                    .human__position UX Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-design') )

                                            .human__desc.
                                                David has successfully managed many software projects—optimizing business processes
                                                and enhancing value. His expertise is in the areas of technology consulting.

                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-2.jpg') )

                                            .human__head
                                                div
                                                    .human__name Justin Michela
                                                    .human__position UX/UI Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-design') )

                                            .human__desc.
                                                Mentored at Apple, Osandi's spent over eight years helping teams create
                                                human-centered products that delight customers.
                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-3.jpg') )

                                            .human__head
                                                div
                                                    .human__name Adrien Valesa
                                                    .human__position Product Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-design') )

                                            .human__desc.
                                                Adrien is a French UX designer with more than 13 years’ experience in design,
                                                user experience, interaction design, and visual identity across a broad range of industries.



                            .slider__pagination.team__slider-pagination

                    .team__tab-content.tab-pane.fade#team-tab-developers

                        .swiper-container.team__slider
                            .swiper-wrapper.team__slider-wrapper

                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-1.jpg') )

                                            .human__head
                                                div
                                                    .human__name David Fish
                                                    .human__position UX Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-developer') )

                                            .human__desc.
                                                David has successfully managed many software projects—optimizing business processes
                                                and enhancing value. His expertise is in the areas of technology consulting.

                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-3.jpg') )

                                            .human__head
                                                div
                                                    .human__name Justin Michela
                                                    .human__position UX/UI Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-developer') )

                                            .human__desc.
                                                Mentored at Apple, Osandi's spent over eight years helping teams create
                                                human-centered products that delight customers.

                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-2.jpg') )

                                            .human__head
                                                div
                                                    .human__name Adrien Valesa
                                                    .human__position Product Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-developer') )

                                            .human__desc.
                                                Adrien is a French UX designer with more than 13 years’ experience in design,
                                                user experience, interaction design, and visual identity across a broad range of industries.

                            .slider__pagination.team__slider-pagination

                    .team__tab-content.tab-pane.fade#team-tab-finance-experts
                        .swiper-container.team__slider
                            .swiper-wrapper.team__slider-wrapper

                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-3.jpg') )

                                            .human__head
                                                div
                                                    .human__name David Fish
                                                    .human__position UX Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-finance') )

                                            .human__desc.
                                                David has successfully managed many software projects—optimizing business processes
                                                and enhancing value. His expertise is in the areas of technology consulting.

                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-2.jpg') )

                                            .human__head
                                                div
                                                    .human__name Justin Michela
                                                    .human__position UX/UI Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-finance') )

                                            .human__desc.
                                                Mentored at Apple, Osandi's spent over eight years helping teams create
                                                human-centered products that delight customers.
                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-1.jpg') )

                                            .human__head
                                                div
                                                    .human__name Adrien Valesa
                                                    .human__position Product Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-finance') )

                                            .human__desc.
                                                Adrien is a French UX designer with more than 13 years’ experience in design,
                                                user experience, interaction design, and visual identity across a broad range of industries.

                            .slider__pagination.team__slider-pagination

                    .team__tab-content.tab-pane.fade#team-tab-project-managers
                        .swiper-container.team__slider
                            .swiper-wrapper.team__slider-wrapper

                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-2.jpg') )

                                            .human__head
                                                div
                                                    .human__name David Fish
                                                    .human__position UX Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-project-managers') )

                                            .human__desc.
                                                David has successfully managed many software projects—optimizing business processes
                                                and enhancing value. His expertise is in the areas of technology consulting.

                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-1.jpg') )

                                            .human__head
                                                div
                                                    .human__name Justin Michela
                                                    .human__position UX/UI Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-project-managers') )

                                            .human__desc.
                                                Mentored at Apple, Osandi's spent over eight years helping teams create
                                                human-centered products that delight customers.

                                .swiper-slide
                                    .human
                                        .human__inner
                                            .human__image
                                                img( src=require('../../img/team-3.jpg') )

                                            .human__head
                                                div
                                                    .human__name Adrien Valesa
                                                    .human__position Product Designer

                                                svg.human__icon
                                                    use( xlink:href=sprite('service-project-managers') )

                                            .human__desc.
                                                Adrien is a French UX designer with more than 13 years’ experience in design,
                                                user experience, interaction design, and visual identity across a broad range of industries.

                            .slider__pagination.team__slider-pagination

